.container {
    padding: 0 2rem;
    .main {
        min-height: 100vh;
        padding: 4rem 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .title {
            margin: 0;
            line-height: 1.15;
            font-size: 4rem;
            text-align: center;
        }

        .logo {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 200px;
            opacity: 0.8;
            background: #222;
        }
    }
}
@media (prefers-color-scheme: dark) {
}
