.navbar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background: #1e1e2d;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    .watermark {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding: 0 20px;
        .img {
            width: 64px;
        }
        .title {
            color: #fff;
        }
    }

    .item {
        color: #fff;
        margin: 0;
        padding: 15px 20px;
        width: 90%;
        text-align: center;
        box-sizing: border-box;
        border-radius: 6.175px;
        text-align: left;

        display: flex;
        align-items: center;
        gap: 15px;

        cursor: pointer;

        transition: 0.2s background;

        &:hover {

            transition: 0.2s background;
            background: rgb(0, 158, 247);
        }
    }
}